<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('views/head') %>
  </head>
  <body>
    <div class="container">
      <h1><%- longTitle %></h1>
      <p class="description"><%= description %></p>

      <%_ subunits.forEach(function(subunit) { %>
        <section class="subunit">
          <h2><%= subunit.title %></h2>
          <%- include(`${basepath}/subunits/${subunit.identifier}/subunit`) %>
        </section>
        <%_ if ("script" in subunit) { %>
          <script src="<%= `subunits/${subunit.identifier}/${subunit.script}.js` %>"></script>
        <%_ } %>
      <%_ }) %>
    </div>
  </body>
</html>
